<a href="https://colab.research.google.com/github/Itzelr-r/IA/blob/t1/Tarea1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
horas = float(input("Ingrese el numero de horas: "))

tarifa = float(input("Ingrese la tarifa por hora: "))

print("Pago: ", horas*tarifa)

Ingrese el numero de horas: 35
Ingrese la tarifa por hora: 2.75
Pago:  96.25

In [ ]:
width = int(17)
height = float(12.0) 

num1 = width / 2
print("width / 2 = ", num1)
print("Tipo de dato: ",type(num1))

num2 = width / 2.0
print("\nwidth / 2.0 = ", num2)
print("Tipo de dato: ",type(num2))

num3 = height / 3
print("\nheight / 3 = ", num3)
print("Tipo de dato: ",type(num3))

num4 = 1+(2*5)
print("\n1+(2*5) = ", num4)
print("Tipo de dato: ",type(num4))

width / 2 =  8.5
Tipo de dato:  <class 'float'>

width / 2.0 =  8.5
Tipo de dato:  <class 'float'>

height / 3 =  4.0
Tipo de dato:  <class 'float'>

1+(2*5) =  11
Tipo de dato:  <class 'int'>

In [ ]:
celsius = float(input("\nIngrese la temperatura en grados celsius: "))

fahrenheit =  (celsius * 1.8) + 32

print("Temperatura en grados fahrenheit: ", fahrenheit)

Ingrese la temperatura en grados celsius: 42.5
Temperatura en grados fahrenheit:  108.5